.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .image {
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #d9534f;
  }
  
  .description {
    font-size: 1rem;
    color: #666;
  }
  